.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(images/sprite.svg);
}
.icon-dice-six-faces-six {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-dice-six-faces-five {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-dice-six-faces-four {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-dice-six-faces-three {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-dice-six-faces-two {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-dice-six-faces-one {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-perspective-dice-six-faces-random {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-rally-the-troops {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-pestle-mortar {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-barbed-spear {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-bone-knife {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-branch-arrow {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-broken-bone {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-broken-tablet {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.icon-campfire {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
.icon-chicken-leg {
  width: 32px;
  height: 32px;
  background-position: -720px 0;
}
.icon-rock {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-spine-arrow {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-stone-axe {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-stone-spear {
  width: 32px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-stone-tablet {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-tribal-mask {
  width: 32px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-animal-hide {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-berries-bowl {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-bindle {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-bison {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-bone-knife1 {
  width: 32px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-bone-mace {
  width: 32px;
  height: 32px;
  background-position: -528px -48px;
}
.icon-cave-entrance {
  width: 32px;
  height: 32px;
  background-position: -576px -48px;
}
.icon-caveman {
  width: 32px;
  height: 32px;
  background-position: -624px -48px;
}
.icon-clay-brick {
  width: 32px;
  height: 32px;
  background-position: -672px -48px;
}
.icon-dolmen {
  width: 32px;
  height: 32px;
  background-position: -720px -48px;
}
.icon-flint-spark {
  width: 32px;
  height: 32px;
  background-position: 0 -96px;
}
.icon-fur-shirt {
  width: 32px;
  height: 32px;
  background-position: -48px -96px;
}
.icon-goblin-camp {
  width: 32px;
  height: 32px;
  background-position: -96px -96px;
}
.icon-hunting-bolas {
  width: 32px;
  height: 32px;
  background-position: -144px -96px;
}
.icon-hut {
  width: 32px;
  height: 32px;
  background-position: -192px -96px;
}
.icon-huts-village {
  width: 32px;
  height: 32px;
  background-position: -240px -96px;
}
.icon-ivory-tusks {
  width: 32px;
  height: 32px;
  background-position: -288px -96px;
}
.icon-log {
  width: 32px;
  height: 32px;
  background-position: -336px -96px;
}
.icon-mammoth {
  width: 32px;
  height: 32px;
  background-position: -384px -96px;
}
.icon-menhir {
  width: 32px;
  height: 32px;
  background-position: -432px -96px;
}
.icon-primitive-necklace {
  width: 32px;
  height: 32px;
  background-position: -480px -96px;
}
.icon-primitive-torch {
  width: 32px;
  height: 32px;
  background-position: -528px -96px;
}
.icon-pyre {
  width: 32px;
  height: 32px;
  background-position: -576px -96px;
}
.icon-saber-toothed-cat-head {
  width: 32px;
  height: 32px;
  background-position: -624px -96px;
}
.icon-silex {
  width: 32px;
  height: 32px;
  background-position: -672px -96px;
}
.icon-sling {
  width: 32px;
  height: 32px;
  background-position: -720px -96px;
}
.icon-spearfishing {
  width: 32px;
  height: 32px;
  background-position: 0 -144px;
}
.icon-stakes-fence {
  width: 32px;
  height: 32px;
  background-position: -48px -144px;
}
.icon-stick-frame {
  width: 32px;
  height: 32px;
  background-position: -96px -144px;
}
.icon-stone-wheel {
  width: 32px;
  height: 32px;
  background-position: -144px -144px;
}
.icon-tribal-pendant {
  width: 32px;
  height: 32px;
  background-position: -192px -144px;
}
.icon-tusks-flag {
  width: 32px;
  height: 32px;
  background-position: -240px -144px;
}
.icon-venus-of-willendorf {
  width: 32px;
  height: 32px;
  background-position: -288px -144px;
}
.icon-wood-canoe {
  width: 32px;
  height: 32px;
  background-position: -336px -144px;
}
.icon-wood-club {
  width: 32px;
  height: 32px;
  background-position: -384px -144px;
}
.icon-wood-stick {
  width: 32px;
  height: 32px;
  background-position: -432px -144px;
}
.icon-fish-cooked {
  width: 32px;
  height: 32px;
  background-position: -480px -144px;
}

